<select ng-model="selection" ng-options="sortOption for sortOption in sortOptions" ng-change="sort(selection)"></select>
<h4>{{ 'REVIEWS_LIST_TITLE' | translate }}</h4>
<ul>
  <li dir-paginate="review in reviews | orderBy:sortKey:reverse | itemsPerPage:2">
    <div class="revcell">
      <h5>{{review.nickname}}</h5>
      <p>{{review.body}}</p>
      <p>{{review.date | date: "y.MM.dd.m.H.s"}}</p>
    </div>
  </li>
</ul>

<dir-pagination-controls max-size="5" direction-links="true" boundry-links="true"></dir-pagination-controls>
